# Data Analysis Project 9: Survey Dataset

- https://youtu.be/uaLHWSgyrnQ?list=PLy3lFw0OTlutzXFVwttrtaRGEEyLEdnpy

In [1]:
import numpy as np
import pandas as pd

**Data Description:** \
A sample survey data (`sample_survey.csv`
) is provided for analysis. Samples were collected over a period of nine days where the respondents were asked questions related to elections. Survey weights are in the "weight" column. Applicants are requested to use *python-pandas* for all data manipulations and *matplotlib* for any plotting related questions. Applicants are expected to not use *for-loops* or any kind of *iterations* for solving the questions. Use in built *pandas* functions only.

## Q1) Load the dataset into a pandas dataframe. Name the variable as “survey”.

In [2]:
survey = pd.read_csv("data/sample_survey.csv", index_col=0)
survey.head()

,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
response_id,,,,,,,,,,,,,
1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969
2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419
3,5-24-2017,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,Male,191,Gen,0.673762
4,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,Male,194,Gen,1.101298
5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,176,BC,0.333505

## Q2) How many samples were collected on each day?

In [3]:
survey['collection_date'] = pd.to_datetime(survey['collection_date'])
survey['collection_date']

response_id
1      2017-05-24
2      2017-05-24
3      2017-05-24
4      2017-05-24
5      2017-05-24
          ...
6863   2017-06-01
6864   2017-06-01
6865   2017-06-01
6866   2017-06-01
6867   2017-06-01
Name: collection_date, Length: 6867, dtype: datetime64[ns]

In [4]:
survey['collection_date'].value_counts()

collection_date
2017-05-24    1479
2017-05-25     998
2017-05-28     761
2017-05-27     665
2017-05-29     620
2017-06-01     607
2017-05-26     598
2017-05-30     582
2017-05-31     557
Name: count, dtype: int64

## Q3) What proportion of the total respondents were aged less than 45?

In [5]:
survey['age'].unique()

array(['26', '34', '25', '36', '22', '38', '23', '42', '51', '29', '24',
       '30', '39', '37', '19', '44', '53', '32', '21', '18', '20', '27',
       '48', '28', '45', '74', '35', '31', '70', '40', '49', '46', '43',
       '41', '33', '58', '24ko', '56', '50', '55', '54', '62', '60', '59',
       '47', '61', '52', '66', '57', '67', '65', '71', '63', '64', '68',
       '69', '99', '72', '75', '76'], dtype=object)

In [6]:
survey['age'][survey['age']=='24ko'] = 24

C:\Users\JAVOHIR\AppData\Local\Temp\ipykernel_13480\799137918.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  survey['age'][survey['age']=='24ko'] = 24

In [7]:
survey['age'] = survey['age'].astype(int)

In [8]:
survey[survey['age'] < 45].shape[0] / survey.shape[0] * 100

93.18479685452162

## Q4) Create a new column in the dataframe “age_group”. This column should contain the age group the respondent belongs to. The age groups are 18-25, 25-40, 40-55 and 55+. The dataframe should look like this after the column creation:

|response_id|age|age_group|
|:-|:-|:-|
|1|26|25-40|
|2|34|25-40|
|3|25|25-40|
|4|66|55+|

In [9]:
print(survey['age'].min())
print(survey['age'].max())

18
99

In [10]:
survey['age_group'] = pd.cut(x=survey['age'],
                             bins=[18, 25, 40, 55, 100],
                             right=False,
                             labels=['18-25', '25-40', '40-55', '55+']
                            )

In [11]:
survey.sample(5)

,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight,age_group
response_id,,,,,,,,,,,,,,
1467,2017-05-25,Rural,Graduate,"₹ 1,50,000 & above",NOTA,NOTA,Fully Dissatisfied,Somewhat Satisfied,26,Male,132,Gen,0.056826,25-40
1247,2017-06-01,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,Did not vote,Somewhat Satisfied,Fully Dissatisfied,32,Male,198,Gen,0.275509,25-40
6625,2017-05-30,Rural,12th Pass,"₹ 5,000 - ₹ 10,000",BJP,Did not vote,Fully Dissatisfied,Fully Dissatisfied,19,Male,164,Gen,0.137459,18-25
345,2017-05-24,Urban,Post - Graduation,"₹ 30,000 - ₹ 50,000",BJP,Did not vote,Somewhat Satisfied,Somewhat Dissatisfied,25,Male,184,Gen,0.148987,25-40
6538,2017-05-29,Rural,Graduate,"₹ 80,000 - ₹ 1,50,000",Undecided,Others,Somewhat Satisfied,Fully Dissatisfied,25,Male,168,Gen,0.185382,25-40

## Q5) How many samples were collected for each age-group? Which age-group had the most samples?

In [12]:
survey['age_group'].value_counts()

age_group
25-40    3844
18-25    2094
40-55     801
55+       128
Name: count, dtype: int64

## Q6) What proportion of the respondents had opted for the **RJD** party in both the Vote_Now and the Past_Vote questions?

In [13]:
mask = (survey['Vote_Now']=='RJD') & (survey['Past_Vote']=='RJD')
survey[mask].shape[0] / survey.shape[0] * 100

11.810106305519149

## Q7) For each day of sample collection, determine the proportion of respondents who were fully satisfied with the performance of the CM. So if there were a total of 1000 samples on day 1 and 300 out of those said they were fully satisfied, then our answer for that day would be 0.3.

In [29]:
mask = survey['CM_satisfaction']=='Fully Satisfied'

survey['collection_date'].value_counts()
survey.groupby('collection_date')[mask].

TypeError: unhashable type: 'DataFrame'

## Q8) In a similar fashion create a day-wise proportion of respondents that opted fully dissatisfied with their MLA. Create a line plot of the result with date on x-axis and proportions on the y-axis.

## Q9) Create a pivot-table (or crosstab) with index as Past_Vote, Column as Vote_Now and cell values as the count of samples.
Answer - survey.pivot_table(index = 'Past_Vote', columns = 'Vote_Now', values = 'response_id', aggfunc = 'count')

## Q10) Repeat the above question with the cell values as the sum of “weight”.

## Q11) Create a dataframe by performing a group by over age_group and calculate the count of total samples under each age_group.

## Q12) Create a dataframe by performing a group by over age_group and finding the count of total samples for each age_group that opted for the JD(U) party in Vote_Now.

## Q13) Join/Merge the two dataframes from questions 12 and 11 with the common column as age_group.